<!DOCTYPE html>
<html>
  <head>
    <title>Admin: Twitter Radio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/frontend/sharedstuff/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/frontend/admin/static/admin.css" />
  </head>
  <body>
    <script type="text/javascript">
      App = {};
      App.ioPort = <%= _ioPort %>;
      App._isReadyToBeRun = <%= _isReadyToBeRun %>;
      App._allHashtags = <%- _allHashtags %>;
      App.ioUrl = "http://" + window.location.hostname + ":" + App.ioPort.toString() + "/backend";
    </script>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-4 col-md-offset-4" id="message">
    			The 'ready' signal <b>HAS NOT</b> been received.
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-4 col-md-offset-4">
    			<input type="button" class="btn btn-lg btn-primary" id="startButton" value="Run it All"/>
    			<input type="button" id="stopButton" class="btn btn-lg btn-danger" value="Stop it All"/>
    			<% for(var i = 0, ilen = allHashtags.length; i < ilen; i++ ) {%>
    				<!-- <input type="button" role="toDefault" class="btn btn-lg btn-warn" dataId="<%= allHashtags[i].id %>" value="Switch to default <%= i %> hashtag"/> -->
    			<% } %>
    		</div>
    	</div>
    </div>
    <script type="text/javascript" src="/frontend/sharedstuff/static/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/frontend/sharedstuff/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<%= _ioJSUrl %>/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/frontend/admin/static/admin.main.js"></script>
  </body>
</html>

